*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
}
#logo{
    max-width: 200px;
    size:2px ;
     margin-right: 150px;
     
}
#logo-img{
   animation-name: run;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#nav-menu{
    display: flex;
    justify-content: center;

}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border: #ef0000 2px solid;
    border-radius: 4px;
    
}

li a:hover{
    transform: scale(1.2);
    background-color: #31cbff;
    border-radius: 4px;
     
}
li:hover{
    cursor: pointer;
      transition: 0.1s;
    transform: rotate(360deg);
}

main{
    padding: 20px;
    height: 420px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #333;
     position: relative;
    

}
#aboutme{
    color: white;
    font-size: 20px;
    line-height: 1.6;
    border-radius: 8px;
    position: absolute;
    right: 200px;
    padding: 80px;


}
#profile-pic{
   
    border-radius: 50%;
    left: 100px;
     position: absolute;

}

#myimg{
    border-radius: 80%;
      border:double #31cbff;
      border-width: 10px;
        top: -140px;
         padding: 7px;
         margin-left: 100px;
         animation-name:rotate;
            animation-duration: 2s;
            animation-iteration-count: infinite;
}
/* #myimg:hover{
     transition: 4s;
    transform: rotate(360deg);
} */
.all{
    padding: 0px;
    width: 200px;

      

}

.skill{
    background-color: #fffefe;
    border: #000000 2px solid;
    color: #ffffff;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
   animation-name:oname;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.skill:hover{
    background-color:  #31cbff;
    cursor: pointer;
     transform: scale(3);
     transition: all 0.3s ease;
}

input[type=submit] {
  background-color: #20d08f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-container {
     height: 70%;
    width: 40%;
     background-color: #333;
  border-radius: 5px;
  background-color: #e0e0e0;
  padding: 50px;
  position: absolute;
   
     animation-name: myAnimation;
      animation-duration: 4s;
   animation-iteration-count: infinite;

}

input, select, textarea {
  width: 100%;
  padding: 12px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#icons{
    padding: 10px;

    
   
}
#icons i{
    gap: 10px;
    color: white;
    font-size: 50px;
    margin-left: 15px;
    transition: all 0.3s ease;
     animation-name: icons;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 95%;
    
}

#icons a{
    color: rgb(0, 0, 0);
    
    
}

#icons i:hover{
    transform: scale(3);
    color: #31cbff;
   
}
/* 
@keyframes myAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:700px; top:0px;}
  50%  {background-color:blue; right:500px; top:500px;}
  75%  {background-color:green; left:1000px; top:100px;}
  100% {background-color:red; left:50px; top:0px;}
} */

@keyframes myAnimation {
  0%   {background-color:rgb(64, 5, 126);left:0px; top:0px;}
   10% {background-color:rgb(116, 0, 21); left:700px; top:0px}
    20%  {background-color:rgb(183, 211, 0); right:500px; top:500px;}
    30%  {background-color:rgb(255, 0, 242);left:1000px;top:1000px }
    40%  {background-color:rgb(0, 255, 60); left: 500px; top:300px; }
    50%  {background-color:rgb(255, 166, 0); right:700px; top:100px; }
    60%  {background-color:rgb(255, 0, 153); left: 500px; top:0px; }
    70%  {background-color:rgb(0, 159, 87); left:200px; top:200px;}
    80%  {background-color:rgb(255, 213, 0);right:700px; top:400px; }
    90%  {background-color:rgb(255, 0, 0);right: 100px;top: 100px; }
    100% {background-color:rgb(47, 0, 255); left:0px; top:0px; } 
}


@keyframes oname {
   0%   {background-color:red; }
   10% {background-color:yellow;}
    20%  {background-color:blue;}
    30%  {background-color:green; }
    40%  {background-color:pink; }
    50%  {background-color:orange; }
    60%  {background-color:purple; }
    70%  {background-color:brown;}
    80%  {background-color:grey; }
    90%  {background-color:black; }
    100% {background-color:red; }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

    0% {transform: translateX(0);} 
   25% {transform: translateX(-50px);}
    50% {transform: translateY(-50);}
    75% {transform: translateX(100px);}
    100% {transform: translateY(-50px);}
}





@keyframes run {
    0% {transform: translateX(0);}
    10% {transform: translateX(-50px);}
    20% {transform: translateY(50);}
    30% {transform: translateX(100px);}
    40% {transform: translateY(-50px);}
    50% {transform: translateX(50px);}
    60% {transform: translateY(-50px);}
    70% {transform: translateX(50px);}
    80% {transform: translateY(-50px);}
    90% {transform: translateX(25px);}
    100% {transform: translateX(0);}
}

@keyframes icons {
   0%   {color: red; }
   10% {color: orange;}
    20%  {color: yellow;}
    30%  {color: green; }
    40%  {color: blue; }
    50%  {color: indigo; }
    60%  {color: violet; }
    70%  {color: pink;}
    80%  {color: brown; }
    90%  {color: grey; }
    100% {color: red; }
}