*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#registerForm{
    border: 4px solid black;
    width: 400px;
     position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 80%;
    height: 30px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid gray;
    padding: 5px;
}

#loginForm{
    border: 4px solid blue;
    width: 300px;
    position: absolute;
   top: 30%;
    left: 50%;
   transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#submitBtn{
    width: 50%;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
    background-color: lightgray;
}

#login{
    padding-top: 4px;
    position: absolute;
    top: 93%;
    left: 50%;
   transform: translate(-50%, -50%);
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 50%;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color:#3c3c3c;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}
#submitBtn:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 255, 30);
}

#login:hover{
    background-color: rgb(223, 0, 0);
    color: rgb(38, 0, 255);
}

@media (max-width: 768px) {
    #login{
        top: 93%;
    }
}